
.codesign-canvas{
    position: absolute;
    background: #fff;
    cursor: pointer;
    }
    .codesign-canvas:focus,
    .codesign-canvas:active{
        cursor: crosshair;
        }

.codesign-control{
    position:absolute;
    z-index: 999;
    top:8px;
    left:8px;
    }
    .codesign-control button {
        float:left;
        margin-right:16px;
        width: 24px;
        height: 26px;
        cursor: pointer;
        border: none;
        }
        .codesign-control button:focus {
            outline: 0 !important;
            }
        .codesign-control button:last-child {
            margin-right: 0;
            }
        .codesign-control button.disabled{
            opacity: .3;
            }
    .codesign-control .group{
        border-left: 1px solid #666;
        float: left;
        padding-left: 2px;   
        }
        
.codesign-dropdown {
    position:absolute;
    z-index: 998;
    padding: 44px 2px 2px 2px;
    background: #eee;
    border: 1px solid #666;
    border-radius: 0px 3px 3px 3px;
    top:-1px;
    left:-1px;
    min-width: 164px;
    padding-left: 4px;
    }
    .codesign-dropdown .button{
        font-size: 11px;
        margin-bottom: 8px;
        margin-right: 8px;
        text-align: left;
        color: #666;
        background: #eee;
        border: none;
        cursor: pointer;
        border: 0;
        border-radius: 3px 3px 3px 3px;
        padding: 0;
        }
        .codesign-dropdown .button:hover {
            color: #999;    
            }
        /*.codesign-dropdown button.active {
            border-bottom: 2px solid #ddd !important;
            }*/
        .codesign-dropdown .button span{
            display: inline-block;
            margin-right: 8px;
            width: 24px;
            height: 26px;
            }
    #codesign-colors .button{
        display:block;
        margin-bottom: 16px;
        }     
    .codesign-image {
        text-align: center;
        padding: 8px;
        }
        .codesign-image img {
            width: 250px;
            border: 1px solid #666;
            }
        .codesign-save-message {
            color: #666;
            margin: 0;
            padding: 0 8px 8px 8px;
            text-align: center;
            width: 250px;
            font-size: 14px;
            }
        .codesign-dropdown .codesign-save-okay-button {
            border-radius: 3px;
            -moz-border-radius: 3px;
            background-color: #666;
            color: #FFF;
            display: block;
            font-size: 11px;
            height: 36px;
            border: 1px solid #666;
            text-align: left;
            float: right;
            margin: 8px;
            padding: 0 8px;
            width: auto;
            cursor: pointer;
            }
    .codesign-modal {
        position: absolute;
        height: 100%;
        width: 100%;
        }
    .codesign-left-col, .codesign-right-col {
        float: left;
        padding: 8px;
        }
        .codesign-left-col {
            padding-right: 48px;
        }
        .codesign-right-col {
            padding-top: 30px;
            }
        .codesign-right-col:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            }
        .codesign-middle-text {
            color: #666;
            font-size: 14px;
            left: 224px;
            position: absolute;
            top: 112px;
            }

#codesign-selected-color {
    background: url(../images/sprite.png) no-repeat 0 0 transparent;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    }

.codesign-brush-webby {
    background: url(../images/sprite.png) no-repeat -30px -60px transparent;
    }
.codesign-brush-sketchy {
    background: url(../images/sprite.png) no-repeat -90px -60px transparent;
    }
.codesign-brush-spray {
    background: url(../images/sprite.png) no-repeat 0 -60px transparent;
    }
.codesign-brush-solid {
    background: url(../images/sprite.png) no-repeat -60px -60px transparent;
    }
    
.codesign-color-chalk {
    background: url(../images/sprite.png) no-repeat -60px -30px transparent !important;
    }
.codesign-color-chrome {
    background: url(../images/sprite.png) no-repeat -30px -30px transparent !important;
    }
.codesign-color-rainbow {
    background: url(../images/sprite.png) no-repeat 0 -30px transparent !important;
    }


.codesign-eraser {
    background: url(../images/sprite.png) no-repeat -60px 0 transparent;
    }
.codesign-save {
    background: url(../images/sprite.png) no-repeat -30px 0 transparent;
    }

.codesign-selected-color {
    background: url(../images/sprite.png) no-repeat 0 0 transparent;
    border-bottom: 1px solid #666;
    }

.codesign-size-1{
    background: url(../images/sprite.png) no-repeat -90px 0 transparent;
    border-bottom: 1px solid #666 !important;
    }
.codesign-size-16{
    background: url(../images/sprite.png) no-repeat -90px 0 transparent;
    border-bottom: 2px solid #666 !important;
    }
.codesign-size-32{
    background: url(../images/sprite.png) no-repeat -90px 0 transparent;
    border-bottom: 3px solid #666 !important;
    }
